@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@700&display=swap');

.header {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin-top: 30px;
  color: teal;
}
